Source: python-rdma
Maintainer: Jason Gunthorpe <jgunthorpe@obsidianreserch.com>
Section: python
Priority: optional
Build-Depends: python2.7-dev,
    debhelper (>= 7.4.3),
    libibverbs-dev (>= 1.1),
    python-sphinx,
    dh-python,
    cython (>= 0.21)
Standards-Version: 3.9.1
X-Python-Version: >= 2.6

Package: python-rdma
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: RDMA functionality for python
   python-rdma provides the 'rdma' module to access RDMA verbs (libibverbs)
   for python as well as the ibtool command that implements many InfiniBand
   diagnostics and tools.
