#!/usr/bin/make -f

PACKAGE = $(firstword $(shell dh_listpackages))
TMP     = $(CURDIR)/debian/$(PACKAGE)

override_dh_auto_build:
	# Force rebuild of cython output for Debian
	rm rdma/ibverbs.c
	dh_auto_build
	python setup.py docs

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(TMP)/usr/share/doc/$(PACKAGE)/html
	cp -r doc/html/* $(TMP)/usr/share/doc/$(PACKAGE)/html/

%:
	dh $@ --with python2 --buildsystem=python_distutils


